<button
  class="btn btn-primary"
  *ngIf="!(gameServ.isGameRunning | async)"
  (click)="onStartGame()"
>
  Start Game
</button>
<ng-container *ngIf="gameServ.isGameRunning | async">
  <button class="btn btn-primary mr-3" (click)="onAttack()">Attack</button>
  <button class="btn btn-info mr-3" (click)="onSpecialAttack()">
    Special Attack
  </button>
  <button class="btn btn-success mr-3" (click)="onHeal()">Heal</button>
  <button class="btn btn-danger" (click)="onGiveup()">Give up</button>
</ng-container>
